.card {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 1.2rem;
  border-radius: 14px;
  backdrop-filter: blur(8px);
  transition: 0.25s ease;
  cursor: pointer;
  color: white;
}

.card h3 {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

.meta {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.castBtn {
  padding: 0.4rem 0.7rem;
  border-radius: 10px;
  background: #6f4cff;
  border: none;
  color: white;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
}

.castBtn:hover {
  background: #8b63ff;
}
